.timeselector-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.loading-modal {
  top: 33%;
  z-index: 100;
  .modal-content {
    width: 200%;
    transform: translateX(-25%);
  }
}
