@import "~bootstrap/scss/bootstrap";
@import "components/OceanNavigatorLite";
@import "components/TimePicker";
@import "components/DailyCalendar";
@import "components/MonthlyCalendar";
@import "components/SeasonalCalendar";
@import "components/CoordinatesPanel";
@import "components/DatasetPanel";
@import "components/SelectBox";

$primary: #008cba;

div {
  .card {
    .card-header {
      color: #fff;
      background-color: $primary;
    }
  }
}

label {
  color: black;
  padding-right: 1rem;
}

form {
  padding-right: 1rem;
}

input {
  margin-right: 1rem;
}

textarea {
  width: 100%;
}

button {
  margin-right: 0.5rem;
}

button.removeCoord {
  background-color: transparent;
  border: none;
  font-weight: bold;
}

table {
  text-align: center;
}
